@import 'tailwindcss';

#root {
  @apply bg-amber-200 min-h-dvh;
}

@utility center {
  @apply flex items-center justify-center;
}

@utility transition-outline {
  transition: outline 150ms;
}

@utility transition-height {
  transition: height 500ms;
}

@utility transition-translate {
  transition: translate 500ms;
}

@utility transition-bg {
  transition: background-color 500ms;
}
